[DEFAULT]
debug = {{ aodh.debug }}
use_syslog = false
use_stderr = true

[keystone_authtoken]
auth_version = v3
auth_uri = {{ address('keystone', keystone.public_port, with_scheme=True) }}/v3
auth_url = {{ address('keystone', keystone.admin_port, with_scheme=True) }}/v3
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = {{ aodh.auth.user }}
password = {{ aodh.auth.password }}
memcached_servers = {{ address('memcached', memcached.port) }}

[database]
connection = mysql+pymysql://{{ aodh.db.username }}:{{ aodh.db.password }}@{{ address(service.database) }}/{{ aodh.db.name }}

[coordination]
backend_url = memcached://{{ address("memcached", memcached.port) }}

{{ oslomessaging[messaging.backend.rpc]('rpc_config') }}
